---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

Here you can find my research interests, publications including preprints or submitted articles, and software.

<h2> Research interests </h2>
<ul>
  <li> Nilpotent groups and associated Lie algebras.</li>
  <li> Computational group theory. </li>
</ul>

<hr>

<h2>Publications</h2>
<p><a href="/research/publications/">Visit the Research Publications page to explore my published articles.</a></p>

<hr>

<h2>Software</h2>
<p><a href="/research/software/">Visit the Research Software page to see the my developed software.</a></p>

<hr>

{% include base_path %}