---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% assign sorted_talks = site.talks | sort: "date_start" | reverse %}
{% assign current_year = "" %}
{% assign talks_by_year = {} %}

<ul>
{% for talk in sorted_talks %}
  <li>{{ talk.title }} — raw: "{{ talk.date_start }}" — parsed: "{{ talk.date_start | date: "%Y" }}"</li>
{% endfor %}
</ul>

<ul>
{% for talk in sorted_talks %}
  {% assign talk_year = talk.date_start | date: "%Y" %}
  <li>Talk: {{ talk.title }} ({{ talk_year }})</li>
  {% assign current = talks_by_year[talk_year] | default: "" %}
  {% assign talks_by_year = talks_by_year | merge: 
    { talk_year: current | append: talk.path | append: "," } %}
{% endfor %}
</ul>
<pre>{{ talks_by_year | inspect }}</pre>

{% for year in talks_by_year %}

  <li class="masthead__menu-item masthead__menu-item--dropdown">
  <h2 >{{ year[0] }} </h2>
    <ul class="dropdown-menu">
    {% assign paths = year[1] | split: "," %}
    {% for path in paths %}
      {% if path != "" %}
        {% assign post = site.talks | where: "path", path | first %}
        {% include archive-single-talk.html %}
      {% endif %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}